<html>
  <head>
    <link href="element.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
      .o-input input {
        font-family: consolas;
      }
      .el-card {
        font-family: consolas;
      }
      .el-dropdown-link {
        cursor: pointer;
        color: #409eff;
      }
      .o-node-card {
        cursor: pointer;
        display: flex;
      }
      .o-node-icon {
        margin-left: auto;
        min-width: 22px;
        width: 22px;
        min-height: 22px;
        max-height: 22px;
        padding: 4px !important;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div name="按钮组">
        <el-upload
          action="#"
          :auto-upload="false"
          :on-change="openFile"
          :show-file-list="false"
        >
          <el-button size="small" type="primary">点击上传</el-button>
        </el-upload>
        <el-button size="small" type="primary" @click="fitWindows"
          >适应窗口</el-button
        >
        <el-button size="small" type="warning" @click="tabIndex =0"
          >图表视图</el-button
        >
        <el-button size="small" type="warning" @click="showJSON()"
          >JSON视图</el-button
        >
      </div>
      <div name="图表组">
        <div
          v-show="tabIndex===0"
          id="main"
          style="width: 1200px; height: 400px; border: 1px solid blue"
        ></div>
        <div v-show="tabIndex===1">
          <el-input
            type="textarea"
            :rows="2"
            placeholder="请输入内容"
            v-model="allDataStr"
            disabled
          >
          </el-input>
        </div>
      </div>

      <h2>节点信息</h2>
      <div v-show="nodeInfo.id">
        <el-tabs v-model="activeTab" style="margin-bottom: 200px">
          <el-tab-pane label="函数" name="func"
            ><el-form ref="nodeForm" :model="nodeInfo" label-width="80px">
              <el-form-item label="函数名称">
                <el-input
                  v-model="nodeInfo.label"
                  @input="bindInputFuncName"
                  class="o-input"
                ></el-input>
              </el-form-item>
              <div id="editor" style="height: 600px; font-size: 20px">
                欢迎使用Ace "https://ace.c9.io/"
              </div>
            </el-form></el-tab-pane
          >
          <el-tab-pane label="节点" name="node"
            ><div>源节点</div>
            <el-card v-for="sNode in sourceNodeArray" :key="sNode.id">
              <div class="o-node-card" @click="navNode" :data-id="sNode.id">
                {{sNode.label}}<el-button
                  type="danger"
                  circle
                  class="o-node-icon"
                  :data-source="sNode.id"
                  :data-target="nodeInfo.id"
                  ><i
                    :data-source="sNode.id"
                    :data-target="nodeInfo.id"
                    class="el-icon-delete"
                  ></i
                ></el-button>
              </div>
            </el-card>
            <div>目标节点</div>
            <el-card v-for="tNode in targetNodeArray" :key="tNode.id">
              <div class="o-node-card" @click="navNode" :data-id="tNode.id">
                {{tNode.label}}<el-button
                  type="danger"
                  circle
                  class="o-node-icon"
                  :data-source="nodeInfo.id"
                  :data-target="tNode.id"
                  ><i
                    :data-source="nodeInfo.id"
                    :data-target="tNode.id"
                    class="el-icon-delete"
                  ></i
                ></el-button>
              </div>
            </el-card>

            <el-autocomplete
              class="inline-input"
              style="width: 800px"
              v-model="newTargetNodeName"
              :fetch-suggestions="querySearchFuncName"
              placeholder="请输入节点名"
              :trigger-on-focus="false"
            ></el-autocomplete>
            <el-button type="success" @click="insertNewTargetNode"
              >添加新节点/连接已有节点</el-button
            ></el-tab-pane
          ><el-tab-pane label="样式" name="kind">
            <div
              style="
                font-weight: bolder;
                margin-right: 50px;
                display: inline-block;
              "
            >
              选择样式
            </div>
            <el-dropdown trigger="click" @command="updateNodeCategory">
              <span class="el-dropdown-link">
                {{nodeCategory.name}}<i
                  class="el-icon-arrow-down el-icon--right"
                ></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item
                  v-for="(c,idx) in allData.categories"
                  :key="c.name"
                  :command="idx"
                  >{{c.name}}</el-dropdown-item
                >
                <el-dropdown-item divided :command="-1"
                  >+ 新样式</el-dropdown-item
                >
              </el-dropdown-menu>
            </el-dropdown>
            <el-divider></el-divider>
            <el-form ref="kindForm" :model="nodeCategory" label-width="120px">
              <el-form-item label="样式名称">
                <el-input v-model="nodeCategory.name"></el-input>
              </el-form-item>
              <el-form-item label="节点背景色">
                <el-color-picker v-model="nodeCategory.fill"></el-color-picker>
              </el-form-item> </el-form
          ></el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </body>
  <script language="javascript" src="vue.js"></script>
  <script language="javascript" src="element.js"></script>
  <script language="javascript" src="echarts.js"></script>
  <script language="javascript" src="g6.js"></script>
  <script
    src="ace-builds/src-noconflict/ace.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script>
    var Default = new Vue({
      el: "#app",
      data: {
        g6Chart: null,
        tabIndex: 0,
        allDataStr: "{}",
        allData: {},
        nodeInfo: {},
        nodeCategory: { name: "", itemStyle: { color: "" } },
        activeTab: "func",
        sourceNodeArray: [],
        targetNodeArray: [],
        aceEditor: null,
        newTargetNodeName: "",
        addedChartsEvents: false,
      },
      watch: {
        allData: {
          handler: function (newValue, oldValue) {
            this.initCharts();
            this.initNodesArray();
          },
          deep: true,
        },
        activeTab: {
          handler: function (newValue, oldValue) {
            if (newValue === "node") {
              this.initNodesArray();
              this.newTargetNodeName =
                this.nodeInfo.label + Math.floor(Math.random() * 1000);
            } else if (newValue == "kind") {
              this.initNodeCategory();
            }
          },
        },
        nodeInfo: {
          handler: function (n, o) {
            var editor = ace.edit("editor");
            editor.session.setValue(n.extra.code.slice(0));
            this.initNodesArray();
            this.initNodeCategory();
            this.allData.nodes[n.id] = n;
          },
        },
      },
      methods: {
        createFilter(queryString) {
          return (name) => {
            return (
              name.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
            );
          };
        },
        querySearchFuncName(queryString, cb) {
          var names = this.allData.nodes.map((x) => {
            return { value: x.label };
          });
          var results = queryString
            ? names.filter(this.createFilter(queryString))
            : names;

          // 调用 callback 返回建议列表的数据
          cb(results);
        },
        insertNewTargetNode() {
          if (this.newTargetNodeName) {
            const sourceNodeId = this.nodeInfo.id;
            //先查找是否是新节点
            const targetNode = this.g6Chart.find("node", (node) => {
              return node.get("model").label === this.newTargetNodeName;
            });
            if (targetNode) {
              //push前确保是新的连接
              var targetNodeId = targetNode.get("model").id;
              var i;
              for (i = 0; i < this.targetNodeArray.length; i++) {
                if (targetNodeId == this.targetNodeArray[i]) {
                  this.$message.error("不允许添加重复连线");
                  return;
                }
              }
              this.allData.edges.push({
                source: sourceNodeId,
                target: targetNodeId,
              });

              this.targetNodeArray.push({
                id: targetNodeId,
                label: this.newTargetNodeName,
              });
              //如果连接了一个老节点，马上换成新名字以防止再次连接
              this.newTargetNodeName =
                this.nodeInfo.label + Math.floor(Math.random() * 1000);
            } else {
              //新节点
              this.allData.nodes.push({
                id: `${this.allData.nodes.length}`,
                label: this.newTargetNodeName,
                x: this.nodeInfo.x + Math.floor(Math.random() * 100),
                y: this.nodeInfo.y + Math.floor(Math.random() * 100),
                symbolSize: [
                  20 + this.newTargetNodeName.length * 7,
                  this.nodeInfo.size[1],
                ], //这样才是值传递！直接赋值源节点的数组会造成传了个引用
                category: 0,
                extra: { code: "hello,world" },
              });
            }
          }
        },
        deleteEdge(source, target) {
          var idx = this.allData.edges.findIndex((x) => {
            return x.source === source && x.target === target;
          });
          this.allData.edges.splice(idx, 1);
        },
        //----------------------上面为涉及allData的复杂SQL----------------------
        //上传你的文件
        openFile(file) {
          var reader = new FileReader();
          reader.onload = () => {
            if (reader.result) {
              //打印文件内容
              this.allData = JSON.parse(reader.result);
              this.tabIndex = 0;
            }
          };
          reader.readAsText(file.raw);
        },
        //显示JSON数据
        showJSON() {
          this.allDataStr = JSON.stringify(this.allData);
          this.tabIndex = 1;
        },
        //初始化图表
        initCharts() {
          // 创建 G6 图实例
          var init = this.g6Chart ? false : true;
          if (init) {
            this.g6Chart = new G6.Graph({
              container: "main",
              width: 1200,
              height: 400,
              modes: {
                default: ["drag-canvas", "zoom-canvas", "drag-node"],
              },
              defaultNode: {
                type: "rect",
                style: {
                  radius: 20,
                  lineWidth: 1,
                  strokeOpacity: 0.5,
                },
                labelCfg: {
                  style: {
                    fontFamily: "consolas",
                  },
                },
              },
              defaultEdge: {
                type: "line",
                style: {
                  endArrow: {
                    path: G6.Arrow.vee(10, 10, 20), // 内置箭头，参数为箭头宽度、长度、偏移量 d（默认为 0）
                  },
                  lineWidth: 2,
                  stroke: "#C2C8D5",
                },
              },
            });
            this.g6Chart.on("node:click", (evt) => {
              // 一些操作
              this.onClickNodes(evt.item._cfg.model, true);
            });
            this.g6Chart.on("node:dragstart", (evt) => {
              // 一些操作
              this.onClickNodes(evt.item._cfg.model, false);
            });
            this.g6Chart.on("node:dragend", (evt) => {
              // 一些操作
              var { id, x, y } = evt.item._cfg.model;
              this.allData.nodes[Number(id)].x = x;
              this.allData.nodes[Number(id)].y = y;
            });
          }
          // 读取数据
          var tmpData = JSON.parse(JSON.stringify(this.allData));
          tmpData.nodes.map((n) => {
            var bgc = tmpData.categories[n.category].fill;
            var getTextColor = (backgroundColor) => {
              var rgbs = [];
              if (backgroundColor.substring(0, 1) == "#") {
                rgbs = [
                  backgroundColor.substring(1, 3),
                  backgroundColor.substring(3, 5),
                  backgroundColor.substring(5, 7),
                ];
              } else {
                rgbs = backgroundColor
                  .substring(4, backgroundColor.length - 1)
                  .replace(/ /g, "")
                  .split(",");
              }
              var threshold = 128; //阈值
              var r = parseInt(rgbs[0], 16) * 0.3;
              var g = parseInt(rgbs[1], 16) * 0.59;
              var b = parseInt(rgbs[2], 16) * 0.11;
              var rgb = r + g + b; //先把图像灰度化
              if (rgb > threshold) {
                //然后按某一阀值进行二值化
                return "#000000";
              } else {
                return "#FFFFFF";
              }
            };
            n.style = { fill: bgc, stroke: getTextColor(bgc) };
            n.labelCfg = {
              style: {
                fill: getTextColor(bgc),
              },
            };
            return n;
          });

          // 渲染图
          if (init) {
            this.g6Chart.data({
              nodes: tmpData.nodes,
              edges: tmpData.edges,
            });
            this.fitWindows();
          } else {
            this.g6Chart.changeData({
              nodes: tmpData.nodes,
              edges: tmpData.edges,
            });
            this.g6Chart.refresh();
            this.g6Chart.paint();
          }
        },
        //节点点击事件
        onClickNodes(params, isFocus) {
          var partParams = {
            id: params.id,
            label: params.label,
            x: params.x,
            y: params.y,
            size: params.size,
            category: params.category,
            extra: params.extra,
          };
          this.nodeInfo = JSON.parse(JSON.stringify(partParams));
          if (isFocus) {
            this.g6Chart.focusItem(params.id, true, {
              easing: "easeCubic",
              duration: 400,
            });
          }
        },
        fitWindows() {
          if (this.g6Chart) {
            this.g6Chart.render();
            this.g6Chart.fitView(20);
          }
        },
        //----------------------Tab 1----------------------
        //输入函数名时要扩展节点的宽
        bindInputFuncName(e) {
          var idx = Number(this.nodeInfo.id);
          this.allData.nodes[idx].size[0] = 20 + e.length * 7;
        },
        aceChanged(e) {
          var editor = ace.edit("editor");
          if (this.nodeInfo.id) {
            var idx = Number(this.nodeInfo.id);
            this.allData.nodes[idx].extra.code = editor.getValue().slice(0);
          }
        },
        //----------------------Tab 2----------------------
        //切换到节点标签时计算节点
        initNodesArray() {
          if (this.nodeInfo && this.nodeInfo.id) {
            var node = this.g6Chart.findById(this.nodeInfo.id);
            var sources = node.getNeighbors("source");
            var targets = node.getNeighbors("target");
            var mapper = (n) => {
              return {
                id: n._cfg.model.id,
                label: n._cfg.model.label,
              };
            };
            this.sourceNodeArray = sources.map(mapper);
            this.targetNodeArray = targets.map(mapper);
          }
        },
        navNode(e) {
          //跳转节点
          var { id, source, target } = e.target.dataset;
          if (id) this.onClickNodes(this.allData.nodes[Number(id)], true);
          if (source && target) this.deleteEdge(source, target);
        },
        //----------------------Tab 3----------------------
        initNodeCategory() {
          if (this.nodeInfo && this.nodeInfo.id) {
            this.nodeCategory = this.allData.categories[this.nodeInfo.category];
          }
        },
        updateNodeCategory(e) {
          var idx = Number(this.nodeInfo.id);
          if (e < 0) {
            this.allData.categories.push({
              name: "新样式" + Math.floor(Math.random() * 100),
              fill: "#000000",
            });
            e = this.allData.categories.length - 1;
          }
          this.nodeCategory = this.allData.categories[e];
          this.allData.nodes[idx].category = e;
        },
      },
      mounted: function () {
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/c_cpp");
        editor.session.setTabSize(2);
        editor.on("change", this.aceChanged);
      },
    });
  </script>
</html>
