<html>
  <head>
    <link href="element.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
      .o-input input {
        font-family: consolas;
      }
      .el-card {
        font-family: consolas;
      }
      .el-dropdown-link {
        cursor: pointer;
        color: #409eff;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div name="按钮组">
        <el-upload
          action="#"
          :auto-upload="false"
          :on-change="openFile"
          :show-file-list="false"
        >
          <el-button size="small" type="primary">点击上传</el-button>
        </el-upload>
        <el-button size="small" type="primary" @click="refreshCharts"
          >适应窗口</el-button
        >
        <el-button size="small" type="warning" @click="tabIndex =0"
          >图表视图</el-button
        >
        <el-button size="small" type="warning" @click="showJSON()"
          >JSON视图</el-button
        >
      </div>
      <div name="图表组">
        <div
          v-show="tabIndex===0"
          id="main"
          style="width: 1200px; height: 400px; border: 1px solid blue"
        ></div>
        <div v-show="tabIndex===1">
          <el-input
            type="textarea"
            autosize
            placeholder="请输入内容"
            v-model="allDataStr"
            disabled
          >
          </el-input>
        </div>
      </div>

      <h2>节点信息</h2>
      <div v-show="nodeInfo.name">
        <el-tabs v-model="activeTab" style="margin-bottom: 200px">
          <el-tab-pane label="函数" name="func"
            ><el-form ref="nodeForm" :model="nodeInfo" label-width="80px">
              <el-form-item label="函数名称">
                <el-input
                  v-model="nodeInfo.name"
                  @input="bindInputFuncName"
                  class="o-input"
                ></el-input>
              </el-form-item>
              <div id="editor" style="height: 600px; font-size: 20px">
                欢迎使用Ace "https://ace.c9.io/"
              </div>
            </el-form></el-tab-pane
          >
          <el-tab-pane label="节点" name="node"
            ><div>源节点</div>
            <el-card v-for="sNode in sourceNodeArray" :key="sNode">
              <div>{{allData.data[sNode].name}}</div>
            </el-card>
            <div>目标节点</div>
            <el-card v-for="tNode in targetNodeArray" :key="tNode">
              <div>{{allData.data[tNode].name}}</div>
            </el-card>

            <el-autocomplete
              class="inline-input"
              style="width: 800px"
              v-model="newTargetNodeName"
              :fetch-suggestions="querySearchFuncName"
              placeholder="请输入节点名"
              :trigger-on-focus="false"
            ></el-autocomplete>
            <el-button type="success" @click="insertNewTargetNode()"
              >添加新节点/连接已有节点</el-button
            ></el-tab-pane
          ><el-tab-pane label="样式" name="kind">
            <div
              style="
                font-weight: bolder;
                margin-right: 50px;
                display: inline-block;
              "
            >
              选择样式
            </div>
            <el-dropdown trigger="click" @command="updateNodeCategory">
              <span class="el-dropdown-link">
                {{nodeCategory.name}}<i
                  class="el-icon-arrow-down el-icon--right"
                ></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item
                  v-for="(c,idx) in allData.categories"
                  :key="c.name"
                  :command="idx"
                  >{{c.name}}</el-dropdown-item
                >
                <el-dropdown-item divided :command="-1"
                  >+ 新样式</el-dropdown-item
                >
              </el-dropdown-menu>
            </el-dropdown>
            <el-divider></el-divider>
            <el-form ref="kindForm" :model="nodeCategory" label-width="120px">
              <el-form-item label="样式名称">
                <el-input v-model="nodeCategory.name"></el-input>
              </el-form-item>
              <el-form-item label="节点背景色">
                <el-color-picker
                  show-alpha
                  v-model="nodeCategory.itemStyle.color"
                ></el-color-picker>
              </el-form-item> </el-form
          ></el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </body>
  <script language="javascript" src="vue.js"></script>
  <script language="javascript" src="element.js"></script>
  <script language="javascript" src="echarts.js"></script>
  <script
    src="ace-builds/src-noconflict/ace.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script>
    var Default = new Vue({
      el: "#app",
      data: {
        tabIndex: 0,
        allDataStr: "{}",
        allData: {},
        nodeInfo: {},
        nodeCategory: { name: "", itemStyle: { color: "" } },
        activeTab: "func",
        sourceNodeArray: [],
        targetNodeArray: [],
        aceEditor: null,
        newTargetNodeName: "",
        addedChartsEvents: false,
      },
      watch: {
        allData: {
          handler: function (newValue, oldValue) {
            var myChart = echarts.init(document.getElementById("main"));
            myChart.setOption({
              series: [
                {
                  data: newValue.data,
                  links: newValue.links,
                  categories: newValue.categories,
                },
              ],
            });
          },
          deep: true,
        },
        activeTab: {
          handler: function (newValue, oldValue) {
            if (newValue === "node") {
              this.initNodesArray();
              this.newTargetNodeName =
                this.nodeInfo.name + Math.floor(Math.random() * 1000);
            } else if (newValue == "kind") {
              this.initNodeCategory();
            }
          },
        },
        nodeInfo: {
          handler: function (n, o) {
            var editor = ace.edit("editor");
            editor.session.setValue(n.extra.code);
            this.initNodesArray();
          },
        },
      },
      methods: {
        // 根据FuncName查找data中的第一个下标
        selectIdxByFuncName(name) {
          return this.allData.data.findIndex((x) => x.name === name);
        },
        // 根据nodeid查找{[所有source],[所有target]}
        selectAllSourceAndTargetByNodeId(nodeId) {
          var sources = [];
          var targets = [];
          for (var l in this.allData.links) {
            var tmp = this.allData.links[l];
            if (tmp.target === nodeId) sources.push(tmp.source);
            if (tmp.source === nodeId) targets.push(tmp.target);
          }
          return { sources, targets };
        },
        createFilter(queryString) {
          return (name) => {
            return (
              name.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
            );
          };
        },
        querySearchFuncName(queryString, cb) {
          var names = this.allData.data.map((x) => {
            return { value: x.name };
          });
          var results = queryString
            ? names.filter(this.createFilter(queryString))
            : names;

          // 调用 callback 返回建议列表的数据
          cb(results);
        },
        insertNewTargetNode() {
          if (this.newTargetNodeName) {
            var sourceNodeId = this.selectIdxByFuncName(this.nodeInfo.name);
            //先查找是否是新节点
            var targetNodeId = this.selectIdxByFuncName(this.newTargetNodeName);
            if (targetNodeId >= 0) {
              //push前确保是新的连接
              var i;
              for (i = 0; i < this.targetNodeArray.length; i++) {
                if (targetNodeId == this.targetNodeArray[i]) {
                  this.$message.error("不允许添加重复连线");
                  return;
                }
              }
              this.allData.links.push({
                source: sourceNodeId,
                target: targetNodeId,
              });
              //如果连接了一个老节点，马上换成新名字以防止再次连接
              this.newTargetNodeName =
                this.nodeInfo.name + Math.floor(Math.random() * 1000);
            } else {
              //新节点
              var sourceNode = this.allData.data[sourceNodeId];
              this.allData.data.push({
                name: this.newTargetNodeName,
                x: sourceNode.x + Math.floor(Math.random() * 100),
                y: sourceNode.y + Math.floor(Math.random() * 100),
                symbolSize: [
                  sourceNode.symbolSize[0],
                  sourceNode.symbolSize[1],
                ], //这样才是值传递！直接赋值源节点的数组会造成传了个引用
                category: 0,
                extra: { code: "hello,world" },
              });
              this.refreshCharts();
            }
            this.initNodesArray();
          }
        },
        //----------------------上面为涉及allData的复杂SQL----------------------
        //上传你的文件
        openFile(file) {
          var reader = new FileReader();
          reader.onload = () => {
            if (reader.result) {
              //打印文件内容
              this.allData = JSON.parse(reader.result);
              this.tabIndex = 0;
              this.refreshCharts();
            }
          };
          reader.readAsText(file.raw);
        },
        //显示JSON数据
        showJSON() {
          this.allDataStr = JSON.stringify(this.allData);
          this.tabIndex = 1;
        },
        //重新init一下图表
        refreshCharts() {
          var myChart = echarts.init(document.getElementById("main"));
          myChart.clear();
          myChart.resize();
          this.initCharts();
        },
        //初始化图表
        initCharts() {
          var that = this;
          // 基于准备好的dom，初始化echarts实例
          var myChart = echarts.init(document.getElementById("main"));
          // 指定图表的配置项和数据
          var option = {
            title: {
              text: "Basic Graph",
            },
            tooltip: {},
            series: [
              {
                id: "a",
                animation: false,
                type: "graph",
                layout: "none",
                symbol: "rect",
                draggable: false,
                edgeSymbol: ["", "arrow"],
                roam: true,
                label: {
                  show: true,
                  fontFamily: "Consolas",
                },
                data: that.allData.data,
                links: that.allData.links,
                categories: that.allData.categories,
              },
            ],
          };

          // 使用刚指定的配置项和数据显示图表。
          myChart.setOption(option);
          //配置可拖拽系统

          var updatePosition = () => {
            myChart.setOption({
              graphic: echarts.util.map(
                that.allData.data,
                function (item, dataIndex) {
                  var tmpPos = myChart.convertToPixel({ seriesIndex: 0 }, [
                    item.x,
                    item.y,
                  ]);
                  return {
                    x: tmpPos[0],
                    y: tmpPos[1],
                  };
                }
              ),
            });
          };
          var onPointDragging = function (dataIndex) {
            //节点上图层拖拽执行的函数
            var tmpPos = myChart.convertFromPixel(
              { seriesIndex: 0 },
              this.position
            );
            that.allData.data[dataIndex].x = tmpPos[0];
            that.allData.data[dataIndex].y = tmpPos[1];
            myChart.setOption(option);
            updatePosition();
          };
          myChart.setOption({
            graphic: echarts.util.map(
              that.allData.data,
              function (item, dataIndex) {
                //使用图形元素组件在节点上划出一个隐形的图形覆盖住节点
                var tmpPos = myChart.convertToPixel({ seriesIndex: 0 }, [
                  item.x,
                  item.y,
                ]);
                return {
                  id: dataIndex,
                  type: "rect",
                  info: dataIndex,
                  x: tmpPos[0],
                  y: tmpPos[1],
                  shape: {
                    x: -item.symbolSize[0] / 2,
                    y: -item.symbolSize[1] / 2,
                    width: item.symbolSize[0],
                    height: item.symbolSize[1],
                  },
                  // silent:true,
                  invisible: true,
                  draggable: true,
                  ondrag: echarts.util.curry(onPointDragging, dataIndex),
                  z: 100, //使图层在最高层
                };
              }
            ),
          });

          if (!this.addedChartsEvents) {
            window.addEventListener("resize", updatePosition);
            myChart.on("dataZoom", updatePosition);
            myChart.on("graphRoam", updatePosition);
            //点击事件添加
            myChart.on("click", (params) => {
              if (params.dataType == "node") {
                that.onClickNodes(params.data);
              } else if (params.componentType == "graphic") {
                that.onClickNodes(that.allData.data[params.event.target.info]);
              } else that.onClickEdges(params);
            });
            this.addedChartsEvents = true;
          }
        },
        //节点点击事件
        onClickNodes(params) {
          this.nodeInfo = params;
        },
        onClickEdges(params) {},
        //----------------------Tab 1----------------------
        //输入函数名时要扩展节点的宽
        bindInputFuncName(e) {
          var idx = this.selectIdxByFuncName(e);
          this.nodeInfo.symbolSize[0] = 20 + e.length * 7;
          var myChart = echarts.init(document.getElementById("main"));
          myChart.setOption({
            graphic: [
              {
                id: idx,
                shape: {
                  x: -this.nodeInfo.symbolSize[0] / 2,
                  width: this.nodeInfo.symbolSize[0],
                },
              },
            ],
          });
        },
        aceChanged(e) {
          var editor = ace.edit("editor");
          if (this.nodeInfo.name) {
            this.nodeInfo.extra.code = editor.getValue();
          }
        },
        //----------------------Tab 2----------------------
        //切换到节点标签时计算节点
        initNodesArray() {
          if (this.nodeInfo && this.nodeInfo.name) {
            var idx = this.selectIdxByFuncName(this.nodeInfo.name);
            var { sources, targets } =
              this.selectAllSourceAndTargetByNodeId(idx);
            this.sourceNodeArray = sources;
            this.targetNodeArray = targets;
          }
        },
        //----------------------Tab 3----------------------
        initNodeCategory() {
          if (this.nodeInfo && this.nodeInfo.name) {
            this.nodeCategory = this.allData.categories[this.nodeInfo.category];
          }
        },
        updateNodeCategory(e) {
          if (e >= 0) {
            this.nodeCategory = this.allData.categories[e];
            this.nodeInfo.category = e;
          } else {
            this.allData.categories.push({
              name: "新样式" + Math.floor(Math.random() * 100),
              itemStyle: {
                color: "#000000",
              },
            });
            this.nodeCategory =
              this.allData.categories[this.allData.categories.length - 1];
            this.nodeInfo.category = this.allData.categories.length - 1;
          }
        },
      },
      mounted: function () {
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/c_cpp");
        editor.session.setTabSize(2);
        editor.on("change", this.aceChanged);
      },
    });
  </script>
</html>
